@model Garage_2._0.Models.ViewModels.DetailViewModel

@{
    ViewData["Title"] = "Check out";
}

<h1>Check out</h1>

<h3>Are you sure you want to check out this vehicle?</h3>

    <partial name="_ShowDetails"></partial>

    <div class="row align-items-end g-5">
        <form asp-action="CheckOut" class="col-1">
            <input class="d-none" type="hidden" asp-for="Id" />
        <input type="submit" value="Check Out" class="btn btn-danger" onclick="alert('Vehicle is being checked out.')" />
        </form>
        <form asp-action="GetReceipt" id="GetReceipt" class="col-2">
            <input class="d-none" type="hidden" asp-for="Id" />
        <input type="submit" value="Check Out and Get Receipt" class="btn btn-warning" onclick="alert('Printing receipt.')" />
        </form>
        <form class="col-2">
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </form>

    </div>
