@model Garage_2._0.Models.ViewModels.DetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<partial name="_ShowDetails"></partial>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
