@model Garage_2._0.Models.ViewModels.ReceiptViewModel

@{
    ViewData["Title"] = "Receipt";
}

<h1>Details</h1>

<partial name="_ShowReceipt"></partial>
<div>
    <a asp-action="Index">Back to List</a>
</div>
