@model Garage_2._0.Models.ViewModels.DetailViewModel

@{
	ViewData["Title"] = "Park vehicle";
}

<h1>Park</h1>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ParkVehicle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name="_VehicleInputs"></partial>
            <div class="form-group" id="parker">
                <input type="submit" value="Park vehicle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
